<!-- <button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->

<mat-horizontal-stepper linear #stepper>
    <!-- first form Group -->
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Basic Details</ng-template>
            <mat-form-field class="example-full-width">
                <mat-label>Event Name</mat-label>
                <input type="text" matInput placeholder="Event Name" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event Description</mat-label>
                <textarea matInput placeholder="Event Description" required
                    cols="3"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event Category</mat-label>
                <mat-select>
                    <mat-option>-- None --</mat-option>
                    <mat-option value="m">Music</mat-option>
                    <mat-option value="d">Dance</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event City</mat-label>
                <input type="text" matInput placeholder="Event City" required>
            </mat-form-field>


            <!-- Date selection & time Selection -->
            <mat-form-field>
                <mat-label>Choose Event Starting date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choose Event Ending date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event Starting Time</mat-label>
                <input type="time" matInput placeholder="Event City" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event Ending Time</mat-label>
                <input type="time" matInput placeholder="Event City" required>
            </mat-form-field>
            <!-- End Data & Time Selection -->

            <mat-form-field class="example-full-width">
                <mat-label>Event Seats Limit</mat-label>
                <input type="number" matInput placeholder="Event City" required>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <!-- first form group ends -->

    <!-- Second Form Group -->
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Media Stuff</ng-template>

            <mat-form-field class="example-full-width">
                <mat-label>Event Organizer Name</mat-label>
                <input type="text" matInput placeholder="Event City" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event Organizer Email</mat-label>
                <input type="text" matInput placeholder="Event City" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Event Organizer Phone Number</mat-label>
                <input type="text" matInput placeholder="Event City" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <mat-label>Select Payment Option</mat-label>
            <mat-select>
                <mat-option>-- None --</mat-option>
                <mat-option value="online">online</mat-option>
                <mat-option value="offline">offline</mat-option>
            </mat-select>
            </mat-form-field>


            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button >Reset</button>
            <button mat-button color="primary">Create new book</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>