.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.example-full-width {
  width: 100%;
}

.mat-stepper-horizontal {
  margin: 0 auto;
  box-shadow: 0px 0px 7px 5px #efefef;
  max-width: 900px;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

.date-picker {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1em;
}

.mx-2 {
  margin: 0px 1em;
}

.ang-crop {
  max-width: 200px;
}

.message {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.image-preview-poster {
  max-width: 200px;
  margin: 1em 0em;
}

.image-preview-banner {
  max-width: 300px;
  margin: 1em 0em;
}

@media only screen and (max-width: 549px) {
  .col-2 {
    display: grid;
    grid-template-columns: auto;
  }

  .date-picker {
    margin-bottom: 1.5em;
  }
}
