<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
  <mat-sidenav #drawer class="sidenav" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="create-category" (click)="drawer.toggle()">
        <mat-icon>category</mat-icon>&nbsp;&nbsp;
        Categories
      </a>
      <a mat-list-item routerLink="dashboard" (click)="drawer.toggle()">
        <mat-icon>view_list</mat-icon>&nbsp;&nbsp;
        All Events
      </a>
      <a mat-list-item href="#" (click)="drawer.toggle()">
        <mat-icon>people</mat-icon>&nbsp;&nbsp;
        Manage User's
      </a>
      <a mat-list-item href="#" (click)="drawer.toggle()">
        <mat-icon>history</mat-icon>&nbsp;&nbsp;
        Logs
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
      <span class="fill-space"></span>
      <button mat-button *ngIf="(authService.user | async)" (click)="authService.logout()">Logout</button>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="changeTheme()">
        <mat-icon aria-label="Side nav toggle icon">
          {{ isDarkTheme ? 'wb_sunny': 'nights_stay' }}
        </mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>