table {
  width: 100%;
}

.loading::after {
  content: "";
  display: block;
  padding: 10px;
  background: #e8e8e8;
}

.view-img {
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: inherit;
}