<div class="form-group">
    <label for="exampleInput5">Upload image</label>
    <br/>
    <br />
    <input type="file" (change)="getImage($event)" accept=".png,.jpg,.jpeg" />
    <div class="ang-crop">
        <angular-cropper class="ang-crop" *ngIf="image && imageCroppingMode" #Image [cropperOptions]="posterConfig"
         [imageUrl]="imageUrl"></angular-cropper>
    </div>
    <img [src]="croppedImageUrl" *ngIf="image && !imageCroppingMode" class="image-preview mat-elevation-z8" />
    <br />
    <button mat-raised-button color="primary" *ngIf="imageCroppingMode" (click)="cropImage($event)">
        Crop / Select
    </button>
    <button mat-raised-button color="primary" *ngIf="image && !imageCroppingMode" (click)="imageCroppingMode = true">
        Readjust image
    </button>
</div>