/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #f3f3f3;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0em 1em;
}

.fill-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}